$ucllPink: #e30147;
$ucllLightBlue: #9fdaf9;
$ucllDarkBlue: #002757;
$background: #404040;
$accent: #858585;
$textColor: #ffffff;
$lightGray: #dddddd;

* {
  margin: 0;
}

body {
  background-color: $background;
  color: $textColor;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
main {
  flex-grow: 1;
}
h1 {
  margin-top: 10px;
}

#content {
  display: flex;
  flex-direction: row;
}
#img {
  width: 15vw;
  margin-bottom: 10px;
}
#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $ucllPink;
  padding: 10px;
  height: 98.4vh;
  max-width: 20vw;
}
#title {
  padding-left: 25px;
}
#interface {
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}
#todoList {
  flex-grow: 3;
  max-width: 60vw;
}
#todoExtra {
  flex-grow: 1;
  width: 10vw;
}
.bi {
  cursor: pointer;
}
.bi-plus-square-fill {
  margin-right: 10px;
}
.bi-trash-fill {
  color: $ucllLightBlue;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 6px 6px 16px;
  width: 50%;
  background-color: $accent;
  font-size: 25px;
  font-style: italic;
  color: $lightGray;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardTitle {
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
  font-size: 30px;
  color: $textColor;
}
.cardPerson {
  font-weight: bold;
}
.cardDate {
  font-size: 20px;
  line-height: 30px;
}
.tools {
  padding-top: 4px;
}

.btn {
  background-color: $accent;
  text-decoration: none;
  color: $textColor;
  border-radius: 5px;
  padding: 4.5px 4px;
  margin: 3px;
  font-size: 8px;
  cursor: pointer;
  width: 160px;
}
a.btn {
  font-size: 25px;
  padding: 10px;
}
